{
  "singleQuote": true,
  "semi": true,
  "useTabs": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "always",
  "overrides": [
    {
      "files": ["*.css", "*.scss"],
      "options": {
        "parser": "css"
      }
    }
  ]
}
