---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

.post-preview{
    padding:1rem 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    &:last-of-type{
        border-bottom:0;
    }
}
