---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "styles";

// * mixin
@mixin primary-font {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@mixin secondary-font {
    font-family: 'Nanum Gothic', sans-serif;
}

// * common
body{
    @include primary-font;
}

h1,h2,h3,h4,h5,h6{
    font-weight:700;
    @include primary-font;
}

.category-list{
    display:flex;
    align-items:center;
    font-size:1rem;
    & > span{
        display:inline-flex;
        align-items:center;
        line-height:initial;
        margin-right:0.7rem;
        padding-top:5.5px;
        user-select: none;
    }
    & > a{
        margin-right:0.5rem;
        font-weight: 400;
        letter-spacing: 1px;
        @include primary-font;
        &:last-of-type{
            margin-right:0;
        }
    }
}

.post-preview{
    padding:1rem 0;
    border: 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
    &:last-of-type{
        border-bottom:0;
    }
    .post-meta{
        font-style: normal; 
        margin-bottom:15px;
    }
}

header.masthead{
    .post-heading{
        .subheading{
            font-weight:400;
            margin: 10px 0 0 0;
            
        }
        .meta{
            @include primary-font;
            font-style: normal;
            margin: 25px 0 10px;
        }
        .sp-bar{
            display:inline-block;
            width:1px;
            height:10px;
            background:#aaa;
            margin:0 0.2rem;
        }
    }
}

// * post page
.post-container{

    @include secondary-font;

    h1, h2{
        padding:3rem 0px 1rem 0;
    }
    h3,h4{
        padding:2rem 0 0 0;
    }

    dl, ol, ul{
        line-height:2;
    }

    p{
        line-height: 1.7;
        & > img{
            width:100%;
        }
    }

    .clearfix{
        border-top:1px solid rgba(0,0,0,.1);
        padding-top:1rem;
        margin-top:4rem;
    }

    .lineno{
        $color :#ccc;
        color: $color;
        border-right:1px solid  $color;
        padding-right:1rem;
        margin-right:0.5rem;
    }

    code.language-plaintext {
        background: #eee;
        padding: 0.3rem;
        border-radius:0.2rem;
    }

    div.highlight{
        margin-bottom:1.5rem;
    }

    pre.highlight{
        margin-bottom:0;
    }

    small{
        color:#999;
    }
}

header.masthead {
    .overlay{
        opacity: 0.2;
    }

    .category-list{
        a{
            color:#fff;
        }
    }
}
